name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy Hook
        if: github.ref == 'refs/heads/main'
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          if [ -n "$deploy_url" ]; then
            curl -X POST "$deploy_url"
            echo "Deployment triggered."
          else
            echo "RENDER_DEPLOY_HOOK_URL secret not set. Skipping deployment trigger."
          fi
